<!-- cookie_modal.html -->
<div id="cookieModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Valoramos tu privacidad</h5>
            </div>
            <div class="modal-body">
                <p>Utilizamos cookies en este sitio web para mejorar su experiencia de usuario. Al hacer clic en "Acepto", estás dando tu consentimiento para que establezcamos cookies.</p>
                <p>Para obtener más información sobre qué datos contienen las cookies, consulte nuestra <a href="/{{nombre_administracion}}/privacy-policy/">política de privacidad</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" id="rejectCookies">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" id="acceptCookies">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
  $(document).ready(function(){
    // Cookie consent functions
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    // Show cookie consent modal if not accepted yet
    if(getCookie('cookiesAccepted') === null){
        $('#cookieModal').modal('show');
    }

    // Handle cookie consent choices
    $('#acceptCookies').on('click', function(){
        setCookie('cookiesAccepted', 'true', 365);
    });

    $('#rejectCookies').on('click', function(){
        setCookie('cookiesAccepted', 'false', 365);
    });
  });
</script>