{% extends 'Cliente/headers/headerCliente.html' %}
{% load static %}
{% block title %}{{ nombre_administracion }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Administracion/css/headers/headerLogin.css' %}">
{% endblock %}
{% block extrascripts %}
    
{% endblock %}

{% block content %}
<section class="overflow-hidden bac-opa-w">
    <div class="py-15 py-xl-20 d-flex flex-column container level-3 min-vh-100">
      <div class="row align-items-center justify-content-center my-auto">
        <div class="col-md-10 col-lg-8 col-xl-5">
          <div class="card border-light border-0 rounded-0"style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.397);">
            <div class="card-header rounded-0 bg-white text-center p-4" style="border-bottom: 0; padding-bottom: 0!important;">
              <h5 class="fs-4 mb-1">Recuperar Contraseña</h5>
              <p class="small text-secondary">Ingrese la dirección de correo electrónico asociada con su cuenta y le enviaremos un enlace de recuperación.</p>
            </div>
            <div class="card-body bg-white p-5">
              <form method="post" action="#">
                {% csrf_token %}
                <div class="form-floating mb-2">
                    <input type="email" class="rounded-0 form-control" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="name@gmail.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="d-grid mb-2">
                  <button type="submit" class="rounded-0 btn btn-lg btn-primary">Recuperar</button>
                </div>
              </form>
            </div>
            <div class="rounded-0 card-footer text-center p-4">
                <p class="text-secondary"><a href="{% url 'Cliente:loginCliente' nombre_administracion=nombre_administracion %}" class="border-transition">Iniciar Sesión</a> o <a href="{% url 'Cliente:registerCliente' nombre_administracion=nombre_administracion %}" class="border-transition">Registrarse</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
    
{% endblock %}