{% extends 'Cliente/headers/headerCliente.html' %}
{% load static %}
{% block title %}{{ nombre_administracion }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Administracion/css/headers/headerLogin.css' %}">
{% endblock %}
{% block extrascripts %}
    
{% endblock %}

{% block content %}
<section class="overflow-hidden bac-opa-w">
    <div class="py-15 py-xl-20 d-flex flex-column container level-3 min-vh-100">
      <div class="row align-items-center justify-content-center my-auto">
        <div class="col-md-10 col-lg-8 col-xl-5">
          <div class="card border-light border-0 rounded-0">
            <div class="card-header rounded-0 bg-white text-center p-4" style="border-bottom: 0; padding-bottom: 0!important;">
              <h5 class="fs-4 mb-1">Restablecimiento de contraseña enviado</h5>
              <p class="small text-secondary">Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.
                <br><br>
                Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
            </div>
            <div class="rounded-0 card-footer text-center p-4">
                <p class="text-secondary"><a href="{% url 'Cliente:loginCliente' nombre_administracion=nombre_administracion %}" class="border-transition">Iniciar Sesión</a> o <a href="{% url 'Cliente:registerCliente' nombre_administracion=nombre_administracion %}" class="border-transition">Registrarse</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
    
{% endblock %}