{% load static %}
{% load i18n %}
{% blocktranslate %}Estás recibiendo este correo electrónico porque solicitaste un restablecimiento de contraseña para tu cuenta de usuario en {{ nombre_administracion }}.{% endblocktranslate %}

{% translate "Vaya a la siguiente página y elija una nueva contraseña:" %}
{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'Global:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate 'Tu nombre de usuario, en caso de que lo hayas olvidado:' %} {{ user.get_username }}
{% translate "¡Gracias por utilizar nuestro sitio!" %}
{% blocktranslate %}El equipo de {{ nombre_administracion }}{% endblocktranslate %}
<img style="height: 18vw;" src="{% if administracion.logo %}{{ administracion.logo.url }}{% endif %}" alt="">

