{% extends 'Cliente/headers/headerCliente.html' %}
{% load static %}
{% block title %}{{ nombre_administracion }} - Primitiva{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'Cliente/css/sorteos/primitiva.css' %}">

{% endblock %}
{% block extrascripts %}

{% endblock %}

{% block content %}
<form method="post">
{% csrf_token %}
<div class="w-100">
  <div class="container-fluid">
      <div class="text-center py-4 d-flex flex-row justify-content-center align-items-center">
          <div class="img-sorteo" style="background-image: url('{% static 'imgs/sorteos/cabecera_Primitiva.png' %}');"></div>
      </div>
      <div class="w-75 m-auto mb-5 border-bottom border-black"></div>
      
      <div class="d-flex flex-column justify-content-center align-items-center pb-5">
        <div class="container-fluid" style="max-width: 50em;">
          <div class="d-flex justify-content-center align-items-center pb-3">
            <input type="hidden" name="mode" id="multi" value="Sencilla">
            <button id="sencilloBtn" onclick="botonModo(this)" class="btn-m-seleccionado mx-2" type="button">Sencilla</button>
            <button id="multipleBtn" onclick="botonModo(this)" class="btn-m mx-2" type="button">Multiple</button>
          </div>
          <div class="w-25 m-auto mb-3 border-bottom border-black"></div>
          <div class="d-flex justify-content-center align-items-center pb-3">
            <input type="hidden" name="dia" id="diario" value="Sábado">
            <button id="dia" onclick="botonDia(this)" class="btn-d-seleccionado mx-2" type="button">Lunes</button>
            <button id="semanal" onclick="botonDia(this)" class="btn-d mx-2" type="button">Semanal</button>
          </div>
          <div class="w-25 m-auto mb-3 border-bottom border-black"></div>
          <div class="d-flex justify-content-center align-items-center mx-1 pb-3">
            <select id="autouno" class="form-select mx-4" aria-label="Default select example" onchange="auto(this)">
              <option selected>AUTOMATICAS</option>
              <option value="1">1 bloque (1€)</option>
              <option value="2">2 bloque (2€)</option>
              <option value="3">3 bloque (3€)</option>
              <option value="4">4 bloque (4€)</option>
              <option value="5">5 bloque (5€)</option>
              <option value="6">6 bloque (6€)</option>
              <option value="6">7 bloque (7€)</option>
              <option value="6">8 bloque (8€)</option>
            </select>
          </div>
          <div class="w-25 m-auto mb-3 border-bottom border-black"></div>
          <div class="d-flex justify-content-center align-items-center mx-1">
            <select id="autodos" class="form-select mx-4" aria-label="Default select example" onchange="autom(this)">
              <option selected>AUTOMAT. MULTIPLES</option>
              <option value="7">Multiple 7 (7€)</option>
              <option value="8">Multiple 28 (28€)</option>
              <option value="5">Multiple 44 (44€)</option>
              <option value="9">Multiple 84 (84€)</option>
              <option value="10">Multiple 210 (210€)</option>
              <option value="11">Multiple 462 (462€)</option>
            </select>
          </div>
          
          <div class="d-flex flex-wrap-reverse justify-content-center align-items-center">
            <div class="d-inline-block modulo-botonera">
              <div class="botonera pb-3">
                <button onclick="boton(this)" value="1" name="" class="boton-boleto">1</button>
                <button onclick="boton(this)" value="2" name="" class="boton-boleto">2</button>
                <button onclick="boton(this)" value="3" name="" class="boton-boleto">3</button>
                <button onclick="boton(this)" value="4" name="" class="boton-boleto">4</button>
                <button onclick="boton(this)" value="5" name="" class="boton-boleto">5</button>
                <button onclick="boton(this)" value="6" name="" class="boton-boleto">6</button>
                <button onclick="boton(this)" value="7" name="" class="boton-boleto">7</button>
                <button onclick="boton(this)" value="8" name="" class="boton-boleto">8</button>
                <button onclick="boton(this)" value="9" name="" class="boton-boleto">9</button>
                <button onclick="boton(this)" value="10" name="" class="boton-boleto">10</button>
                <button onclick="boton(this)" value="11" name="" class="boton-boleto">11</button>
                <button onclick="boton(this)" value="12" name="" class="boton-boleto">12</button>
                <button onclick="boton(this)" value="13" name="" class="boton-boleto">13</button>
                <button onclick="boton(this)" value="14" name="" class="boton-boleto">14</button>
                <button onclick="boton(this)" value="15" name="" class="boton-boleto">15</button>
                <button onclick="boton(this)" value="16" name="" class="boton-boleto">16</button>
                <button onclick="boton(this)" value="17" name="" class="boton-boleto">17</button>
                <button onclick="boton(this)" value="18" name="" class="boton-boleto">18</button>
                <button onclick="boton(this)" value="19" name="" class="boton-boleto">19</button>
                <button onclick="boton(this)" value="20" name="" class="boton-boleto">20</button>
                <button onclick="boton(this)" value="21" name="" class="boton-boleto">21</button>
                <button onclick="boton(this)" value="22" name="" class="boton-boleto">22</button>
                <button onclick="boton(this)" value="23" name="" class="boton-boleto">23</button>
                <button onclick="boton(this)" value="24" name="" class="boton-boleto">24</button>
                <button onclick="boton(this)" value="25" name="" class="boton-boleto">25</button>
                <button onclick="boton(this)" value="26" name="" class="boton-boleto">26</button>
                <button onclick="boton(this)" value="27" name="" class="boton-boleto">27</button>
                <button onclick="boton(this)" value="28" name="" class="boton-boleto">28</button>
                <button onclick="boton(this)" value="29" name="" class="boton-boleto">29</button>
                <button onclick="boton(this)" value="30" name="" class="boton-boleto">30</button>
                <button onclick="boton(this)" value="31" name="" class="boton-boleto">31</button>
                <button onclick="boton(this)" value="32" name="" class="boton-boleto">32</button>
                <button onclick="boton(this)" value="33" name="" class="boton-boleto">33</button>
                <button onclick="boton(this)" value="34" name="" class="boton-boleto">34</button>
                <button onclick="boton(this)" value="35" name="" class="boton-boleto">35</button>
                <button onclick="boton(this)" value="36" name="" class="boton-boleto">36</button>
                <button onclick="boton(this)" value="37" name="" class="boton-boleto">37</button>
                <button onclick="boton(this)" value="38" name="" class="boton-boleto">38</button>
                <button onclick="boton(this)" value="39" name="" class="boton-boleto">39</button>
                <button onclick="boton(this)" value="40" name="" class="boton-boleto">40</button>
                <button onclick="boton(this)" value="41" name="" class="boton-boleto">41</button>
                <button onclick="boton(this)" value="42" name="" class="boton-boleto">42</button>
                <button onclick="boton(this)" value="43" name="" class="boton-boleto">43</button>
                <button onclick="boton(this)" value="44" name="" class="boton-boleto">44</button>
                <button onclick="boton(this)" value="45" name="" class="boton-boleto">45</button>
                <button onclick="boton(this)" value="46" name="" class="boton-boleto">46</button>
                <button onclick="boton(this)" value="47" name="" class="boton-boleto">47</button>
                <button onclick="boton(this)" value="48" name="" class="boton-boleto">48</button>
                <button onclick="boton(this)" value="49" name="" class="boton-boleto">49</button>
              </div>
              <div class="fw-light"><p>REINTEGRO</p></div>
              <div class="reintegros">
                <button onclick="boton(this)" value="0" name="" class="boton-boleto">0</button>
                <button onclick="boton(this)" value="1" name="" class="boton-boleto">1</button>
                <button onclick="boton(this)" value="2" name="" class="boton-boleto">2</button>
                <button onclick="boton(this)" value="3" name="" class="boton-boleto">3</button>
                <button onclick="boton(this)" value="4" name="" class="boton-boleto">4</button>
                <button onclick="boton(this)" value="5" name="" class="boton-boleto">5</button>
                <button onclick="boton(this)" value="6" name="" class="boton-boleto">6</button>
                <button onclick="boton(this)" value="7" name="" class="boton-boleto">7</button>
                <button onclick="boton(this)" value="8" name="" class="boton-boleto">8</button>
                <button onclick="boton(this)" value="9" name="" class="boton-boleto">9</button>
            </div>
            </div>
            <div class="d-inline-block contenedor-combinaciones pt-5"> 
              <div class="combinaciones">
                <div class="fila-combinacion d-flex justify-content-center">
                  <div class="capa-opacidad activo"></div>
                  <strong class="numero">1.</strong>
                  <div class="list-combinacion">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                  </div>
                </div>
                <div class="fila-combinacion d-flex justify-content-center">
                  <div class="capa-opacidad activo"></div>
                  <strong class="numero">2.</strong>
                  <div class="list-combinacion">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                  </div>
                </div>
                <div class="fila-combinacion d-flex justify-content-center">
                  <div class="capa-opacidad activo"></div>
                  <strong class="numero">3.</strong>
                  <div class="list-combinacion">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                  </div>
                </div>
                <div class="fila-combinacion d-flex justify-content-center">
                  <div class="capa-opacidad activo"></div>
                  <strong class="numero">4.</strong>
                  <div class="list-combinacion">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                  </div>
                </div>
                <div class="fila-combinacion d-flex justify-content-center">
                  <div class="capa-opacidad activo"></div>
                  <strong class="numero">5.</strong>
                  <div class="list-combinacion">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                  </div>
                </div>
                <div class="fila-combinacion d-flex justify-content-center">
                  <div class="capa-opacidad activo"></div>
                  <strong class="numero">6.</strong>
                  <div class="list-combinacion">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                  </div>
                </div>
                <div class="fila-combinacion d-flex justify-content-center">
                  <div class="capa-opacidad activo"></div>
                  <strong class="numero">7.</strong>
                  <div class="list-combinacion">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                  </div>
                </div>
                <div class="fila-combinacion d-flex justify-content-center">
                  <div class="capa-opacidad activo"></div>
                  <strong class="numero">8.</strong>
                  <div class="list-combinacion">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                  </div>
                </div> 
                <div class="fila-combinacion d-none justify-content-center">
                  <div class="capa-opacidad activo"></div>
                  <strong class="numero">1.</strong>
                  <div class="list-combinacion-multiple">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly="">
                    <input type="text" value="-" class="item-combinacion" readonly=""> 
                    <input type="text" value="-" class="item-combinacion" readonly="">                  
                  </div>
                </div>
                <div class="fila-combinacion d-flex justify-content-center align-items-center pt-4 fs-6">
                    <div class="capa-opacidad activo capa-opacidad-reintegro "></div>
                    <strong class="reintegro px-2">REINTEGRO</strong>
                    <div class="list-combinacion d-flex justify-content-center align-items-center">
                      <input type="text" value="-" class="item-combinacion item-num-reintegro" readonly="" style="background-color: rgba(0,133,71,0.15);">                  
                    </div>
                </div>
                <div class="fila-combinacion-joker d-flex justify-content-center align-items-center pt-1 fs-6">
                  <div class="joker" style="background-image: url('{% static 'imgs/sorteos/LogoJoker.svg' %}');">

                  </div>
                  <div class="list-combinacion d-flex justify-content-center align-items-center">
                    <input type="checkbox" value="-" class="item-combinacion-joker" readonly="" style="background-color: rgba(0,133,71,0.15);" onchange="total()">                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center pb-3">
        <button class="btn-m-seleccionado mx-2 mb-3" onclick="reset()" style="max-width: 80em; background-color: #008547; color: white;">
          Volver a empezar
        </button>
      </div>
      <div class="total-block d-flex flex-column justify-content-center align-items-center">
        <div class="modulo-total-compra">
          <strong>Total</strong>	
          <span class="total-compra">0,00 €</span>
        </div>
        <input type="hidden" name="sorteo" value="primitiva">
        <input type="hidden" id="precioinput" name="precio" value="0.00">
        <input type="hidden" id="variable" name="variable">
        <button class="boton-confirmar" disabled="disabled">CONFIRMA TU APUESTA</button>
      </div>
      <div class="d-flex justify-content-center flex-wrap pb-5">
        <p class="">
          <button class="btn" style="max-width: 50em; background-color: #008547; color: white;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            ¿Como Jugar?
          </button>
        </p>
        <div class="collapse w-100" id="collapseExample">
          <div class="card card-body fw-light lh-sm" style="font-size: small;">
            Cada apuesta de La Primitiva consiste en seleccionar 6 números de una tabla de 49 (números del 1 al 49). En La Primitiva se destina el 55% de la recaudación a premios.<br><br>

            Para participar solamente tienes que:<br><br>
                    
            1.- Elegir si quieres jugar al siguiente sorteo o a los restantes de la semana en curso (a celebrarse lunes, jueves y sábado).<br><br>
                    
            2.- Elegir la combinación de 6 números que deseas jugar o dejar que el sistema te ofrezca una aleatoria.<br><br>
                    
            3.- Puedes jugar hasta 8 combinaciones de 6 números (apuestas sencillas de varios bloques) de una sola vez, o una combinación de más números (por ejemplo: 7 números, que corresponde a 7 apuestas, u 8 números, que corresponde a 28 apuestas).<br><br>
                    
            4.- Añadir la combinación o combinaciones deseadas a tu compra.<br><br>
                    
            5.- Decidir si quieres jugar también a El Joker y participar en la posibilidad de ganar 1 millón de euros.<br><br>
                    
            6.- Continuar y decidir si quieres realizar la misma compra en semanas sucesivas o no.<br><br>
                    
            7.- Revisar todas las opciones y jugar.<br><br>
                    
            Las probabilidades aproximadas de acertar a La Primitiva son las siguientes:<br><br>
                    
            <pre>Categoría          Posibilidades aproximadas de acertar</pre>
                    
            <pre>Especial (6+R)     1 entre 139.838.160</pre>
         
            <pre>1ª (6)             1 entre 13.983.816</pre>
       
            <pre>2ª (5+C)           1 entre 2.330.636</pre>
      
            <pre>3ª (5)             1 entre 55.491</pre>
    
            <pre>4ª (4)             1 entre 1.032</pre>
       
            <pre>5ª (3)             1 entre 57</pre>
        
            <pre>Reintegro          1 entre 10</pre>
          </div>
        </div>
      </div>
  </div>
</div>
</form>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    brdia();
  });

  function brdia() {
    var hoy = new Date();
    var horas = hoy.getHours();
    var minutos = hoy.getMinutes();
    var numeroDia = hoy.getDay();
    var nombresDias = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];
    var nombreDia = nombresDias[numeroDia];
    var diaponer = '';
    if(nombreDia === 'Lunes'){
      if((horas >= 20 && horas <= 23 || (horas === 20 && minutos < 30))){
        diaponer = 'Jueves';
      }else{
        diaponer = 'Lunes';
      }
    }else if(nombreDia === 'Martes' || nombreDia === 'Miércoles'){
      diaponer = 'Jueves';
    }else if(nombreDia === 'Jueves'){
      if((horas >= 20 && horas <= 23 || (horas === 20 && minutos < 30))){
        diaponer = 'Sábado';
      }else{
        diaponer = 'Jueves';
      }
    }else if(nombreDia === 'Viernes'){
      diaponer = 'Sábado';
    }else if(nombreDia === 'Sábado'){
        if((horas >= 20 && horas <= 23 || (horas === 20 && minutos < 30))){
        diaponer = 'Lunes';
      }else{
        diaponer = 'Sábado';
      }
    }else if(nombreDia === 'Domingo'){
      diaponer = 'Lunes';
    }

    document.getElementById('dia').textContent = diaponer;
  }

  var numerosSeleccionados = [];
  var grupo = [99,99,99,99,99,99];
  var reintegro = [99];
  var grupodos = [99,99,99,99,99,99,99,99,99,99];
  var filasel = 1;

  function reset() {
    var joker = document.querySelector('.item-combinacion-joker');
    joker.checked = false;
    var capasopa = document.querySelectorAll('.capa-opacidad:not(.activo)');
    capasopa.forEach(opa => {
      opa.classList.add('activo')
    });

    numerosSeleccionados = [];
    reintegrosSeleccionados = [];
    grupo = [99,99,99,99,99,99];
    reintegro = [99];
    grupodos = [99,99,99,99,99,99,99,99,99,99,99];
    filasel = 1;

    var inputs = document.querySelectorAll('.contenedor-combinaciones input');
    inputs.forEach(input => {
      input.value = '-';
    });
    var botones = document.querySelectorAll('.modulo-botonera button.seleccionado');
    botones.forEach(boton => {
      boton.classList.remove('seleccionado');
    });
    total();
  }

  function generarNumero(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  function auto(element){
    var selectElement = document.getElementById('autodos');
    selectElement.selectedIndex = 0;
    reset();
    botonModo(document.getElementById("sencilloBtn"));
    var opcion = element.value;
    var numeros = [];
    for (let index = 0; index < opcion; index++) {
      while (numeros.length < 6) {
          var numeroAleatorio = generarNumero(1, 40);
          if (numeros.indexOf(numeroAleatorio) === -1) {
              numeros.push(numeroAleatorio);
          }
      }
      
      numerosSeleccionados.push(numeros);
      
      numeros = [];
    }
    var reintegro = Math.floor(Math.random() * 10) ;
    reintegrosSeleccionados.push(reintegro);

    var contenedor = document.querySelectorAll('.fila-combinacion.d-flex');
    for (let index = 0; index < opcion; index++) {
      var filasel = contenedor[index].querySelector('.capa-opacidad.activo');
      filasel.classList.remove('activo');
      var inputs = contenedor[index].querySelectorAll('input');
      for (let indexdos = 0; indexdos < inputs.length; indexdos++) {
        inputs[indexdos].value = numerosSeleccionados[index][indexdos];
      }
      
    }
    filasel = document.querySelector('.capa-opacidad-reintegro.activo');
    filasel.classList.remove('activo');
    document.querySelector('.item-num-reintegro').value = reintegrosSeleccionados[0];
    var selectElement = document.getElementById('autodos');
    selectElement.selectedIndex = 0;
    selectElement = document.getElementById('autouno');
    selectElement.selectedIndex = 0;
    total();
  }

  function autom(element){
    var selectElement = document.getElementById('autouno');
    selectElement.selectedIndex = 0;
    reset();
    botonModo(document.getElementById("multipleBtn"));
    var opcion = element.value;
    var numeros = [];
    
    while (numeros.length < opcion) {
        var numeroAleatorio = generarNumero(1, 40);
        if (numeros.indexOf(numeroAleatorio) === -1) {
            numeros.push(numeroAleatorio);
        }
    }
    var reintegro = Math.floor(Math.random() * 10);
    numerosSeleccionados.push(numeros);
    reintegrosSeleccionados.push(reintegro);
    numeros = [];
    

    var contenedor = document.querySelectorAll('.fila-combinacion.d-flex');
    
    var filasel = contenedor[0].querySelector('.capa-opacidad.activo');
    filasel.classList.remove('activo');
    filasel = document.querySelector('.capa-opacidad-reintegro.activo');
    filasel.classList.remove('activo');
    var inputs = contenedor[0].querySelectorAll('input');
    for (let indexdos = 0; indexdos < opcion; indexdos++) {
      inputs[indexdos].value = numerosSeleccionados[0][indexdos];
    }

    document.querySelector('.item-num-reintegro').value = reintegrosSeleccionados[0];

    var botonesuno = document.querySelectorAll('.modulo-botonera .botonera button');
    for (let index = 0; index < numerosSeleccionados[0].length; index++) {
      var valor = numerosSeleccionados[0][index].toString();;
      for (let indexdos = 0; indexdos < botonesuno.length; indexdos++) {
        var botonvalor = botonesuno[indexdos].value;
        if(botonvalor === valor){
          boton(botonesuno[indexdos]);
        }
      }
    }

    var botonesdos = document.querySelectorAll('.modulo-botonera .sueños button');
    
    var valor = reintegrosSeleccionados[0].toString();;
    for (let indexdos = 0; indexdos < botonesdos.length; indexdos++) {
      var botonvalor = botonesdos[indexdos].value;
      if(botonvalor === valor){
        boton(botonesdos[indexdos]);
      }
    }
    var selectElement = document.getElementById('autodos');
    selectElement.selectedIndex = 0;
    selectElement = document.getElementById('autouno');
    selectElement.selectedIndex = 0;
    total();
  }

  function total(){
    var total = document.querySelector('.total-compra');
    var botonmode = document.querySelector('.btn-m-seleccionado');
    var botondia = document.querySelector('.btn-d-seleccionado');
    var cantidadfilas = numerosSeleccionados.length;
    if(botonmode.textContent === "Sencilla"){
      if(botondia.textContent === "Lunes" || botondia.textContent === "Jueves" || botondia.textContent === "Sábado"){
        total.textContent = `${cantidadfilas.toFixed(2)} €`;
      }else if(botondia.textContent === "Semanal"){
        if(document.querySelector('.btn-d').textContent === "Lunes"){
            total.textContent = `${(cantidadfilas*3).toFixed(2)} €`;
        }else if(document.querySelector('.btn-d').textContent === "Jueves"){
            total.textContent = `${(cantidadfilas*2).toFixed(2)} €`;
        }else if(document.querySelector('.btn-d').textContent === "Sábado"){
            total.textContent = `${cantidadfilas.toFixed(2)} €`;
        }   
      }
    }else if(botonmode.textContent === "Multiple"){
        var contador99 = 0;
        for (var i = 0; i < grupodos.length; i++) {
            if (grupodos[i] === 99) {
                contador99++;
            }
        }
        
        if(numerosSeleccionados.length === 1){
            contador99 = 11-numerosSeleccionados[0].length ;
        }
        if(botondia.textContent === "Lunes" || botondia.textContent === "Jueves" || botondia.textContent === "Sábado"){
          if(contador99 === 6){
            total.textContent = `${(44).toFixed(2)} €`;
          }else if (contador99 === 4) {
            total.textContent = `${(7).toFixed(2)} €`;
          }else if (contador99 === 3) {
            total.textContent = `${(28).toFixed(2)} €`;
          }else if (contador99 === 2) {
            total.textContent = `${(84).toFixed(2)} €`;
          }else if (contador99 === 1) {
            total.textContent = `${(210).toFixed(2)} €`;
          }else if (contador99 === 0) {
            total.textContent = `${(462).toFixed(2)} €`;
          }else{
            total.textContent = `0.00 €`;
          }
        }else if(botondia.textContent === "Semanal"){
          if(document.querySelector('.btn-d').textContent === "Lunes"){
            if(contador99 === 6){
              total.textContent = `${(44*3).toFixed(2)} €`;
            }else if (contador99 === 4) {
              total.textContent = `${(7*3).toFixed(2)} €`;
            }else if (contador99 === 3) {
              total.textContent = `${(28*3).toFixed(2)} €`;
            }else if (contador99 === 2) {
              total.textContent = `${(84*3).toFixed(2)} €`;
            }else if (contador99 === 1) {
              total.textContent = `${(210*3).toFixed(2)} €`;
            }else if (contador99 === 0) {
              total.textContent = `${(462*3).toFixed(2)} €`;
            }else{
              total.textContent = `0.00 €`;
            }
          }else if(document.querySelector('.btn-d').textContent === "Jueves"){
            if(contador99 === 6){
              total.textContent = `${(44*2).toFixed(2)} €`;
            }else if (contador99 === 4) {
              total.textContent = `${(7*2).toFixed(2)} €`;
            }else if (contador99 === 3) {
              total.textContent = `${(28*2).toFixed(2)} €`;
            }else if (contador99 === 2) {
              total.textContent = `${(84*2).toFixed(2)} €`;
            }else if (contador99 === 1) {
              total.textContent = `${(210*2).toFixed(2)} €`;
            }else if (contador99 === 0) {
              total.textContent = `${(462*2).toFixed(2)} €`;
            }else{
              total.textContent = `0.00 €`;
            }
          }else if(document.querySelector('.btn-d').textContent === "Sábado"){
            if(contador99 === 6){
              total.textContent = `${(44).toFixed(2)} €`;
            }else if (contador99 === 4) {
              total.textContent = `${(7).toFixed(2)} €`;
            }else if (contador99 === 3) {
              total.textContent = `${(28).toFixed(2)} €`;
            }else if (contador99 === 2) {
              total.textContent = `${(84).toFixed(2)} €`;
            }else if (contador99 === 1) {
              total.textContent = `${(210).toFixed(2)} €`;
            }else if (contador99 === 0) {
              total.textContent = `${(462).toFixed(2)} €`;
            }else{
              total.textContent = `0.00 €`;
            }
          }   
        }
    }

    
    var total = document.querySelector('.total-compra');
    if(total.textContent !== "0,00 €" && total.textContent !== "0.00 €"){
      var confirmar = document.querySelector('.boton-confirmar');
      confirmar.disabled = false;
      var valorNumerico = parseFloat(total.textContent.replace(" €", ""));
      valorNumerico += 1;
      if(document.querySelector(".item-combinacion-joker").checked){
        total.textContent = valorNumerico.toFixed(2) + " €";
      }
    }else{
      var confirmar = document.querySelector('.boton-confirmar');
      confirmar.disabled = true;
    }
  }

  function botondos(elemento){
      var contenedor = elemento.closest('.reintegros');
      var botonera = document.querySelector('.botonera');
      var botonesSeleccionados = botonera.querySelectorAll('.boton-boleto.seleccionado');
      //numero maximo de botones que se pueden pulsar
      if (botonera.contains(elemento) && botonesSeleccionados.length >= 11 && !elemento.classList.contains('seleccionado')) {
          return; 
      }
      
      if(!contenedor){
        var inputsconguion = document.querySelectorAll('.fila-combinacion.d-flex');
        var contador = 0;
        inputsconguion.forEach(function(fila) {
            var inputs = fila.querySelectorAll('input');
            inputs.forEach(function(input) {
                if (input.value === "-") {
                    contador++; 
                }
            });
        });
        if(contador===0){
          return;
        }
      }
      var inputReintegro = document.querySelector('.fila-combinacion.d-flex .item-num-reintegro');
      if(inputReintegro.value === '-' || contenedor){
        var botonesSeleccionadosReintegros = document.querySelectorAll('.reintegros .seleccionado');
        botonesSeleccionadosReintegros.forEach(function(boton) {
            if (boton.classList.contains('seleccionado')) {
                boton.classList.remove('seleccionado');
            }
        });
      }

      elemento.classList.toggle('seleccionado');

      if(elemento.classList.contains('seleccionado')){
        if (contenedor) {
            // El botón pertenece al contenedor "reintegros" y esta seleccionado
            var valor = elemento.value;
            reintegro.splice(0,1,valor);
            console.log(reintegro)
            var inputReintegro = document.querySelector('.item-num-reintegro');
            inputReintegro.value = reintegro[0];
        } else {
            // El botón no pertenece al contenedor "reintegros"
            var valor = elemento.value;
            var index = grupodos.indexOf(valor);

            if(index === -1){
              var can = grupodos.indexOf(99);
              if(index === -1){
                grupodos.splice(can,1,valor);
              }else{
                grupodos.splice(can,1,valor);
              }
            }else{
              grupodos.splice(index,0,99);
            }

            var filas = document.querySelectorAll('.fila-combinacion.d-flex');
            var sel = filas[0];
            var inputsunos = sel.querySelectorAll('.list-combinacion-multiple input');
            for (var i = 0; i < grupodos.length; i++) {
              if(grupodos[i]!==99){
                inputsunos[i].value = grupodos[i];
              }else{
                inputsunos[i].value = "-";
              }
            }
        }
      }else{
        if (!contenedor) {
            var valor = elemento.value;
            var index = grupodos.indexOf(valor);
            var tamano = grupodos.length;
            if(index !== -1){
              grupodos.splice(index,1,99);
            }

            var filas = document.querySelectorAll('.fila-combinacion.d-flex');
            var sel = filas[filasel-1];
            var inputsunos = sel.querySelectorAll('.list-combinacion-multiple input');
            for (var i = 0; i < grupodos.length; i++) {
              if(grupodos[i]!==99){
                inputsunos[i].value = grupodos[i];
              }else{
                inputsunos[i].value = "-";
              }
            }
        }
      }

      if(!grupodos.includes(99) && !reintegro.includes(99)){
        filasel = filasel + 1;
        var buttons = document.querySelectorAll('.modulo-botonera .botonera button');
        buttons.forEach(function(buttons) {
          buttons.classList.remove('seleccionado');
        });
        numerosSeleccionados.push(grupodos);
        grupo = [99,99,99,99,99,99];
        grupodos = [99,99,99,99,99,99,99,99,99,99,99];
      }
      total();
  }

  function boton(elemento) {
      
      
      var contenedor = elemento.closest('.reintegros');
      var filas = document.querySelectorAll('.fila-combinacion.d-flex');
      var sel = filas[filasel-1];
      var opa = sel.querySelectorAll('.capa-opacidad.activo');
      var capaopacidadreintegro = document.querySelector('.capa-opacidad-reintegro');
      if(opa.length === 1 && !contenedor){
        opa[0].classList.remove('activo');
      }else if(contenedor){
        capaopacidadreintegro.classList.remove('activo');
      }
      var strongReintegros = filas[1].querySelector('strong').classList.contains('reintegro');
      if(filas.length===2 && strongReintegros){
        botondos(elemento);
        return;
      }
      
      var botonera = document.querySelector('.botonera');
      var botonesSeleccionados = botonera.querySelectorAll('.boton-boleto.seleccionado');
      //numero maximo de botones que se pueden pulsar
      if (botonera.contains(elemento) && botonesSeleccionados.length >= 6 && !elemento.classList.contains('seleccionado')) {
          return; 
      }

      if(!contenedor){
        var inputsconguion = document.querySelectorAll('.fila-combinacion.d-flex');
        var contador = 0;
        inputsconguion.forEach(function(fila) {
            var inputs = fila.querySelectorAll('input');
            inputs.forEach(function(input) {
                if (input.value === "-") {
                    contador++; 
                }
            });
        });
        if(contador===0){
          return;
        }
      }
      var inputReintegro = document.querySelector('.fila-combinacion.d-flex .item-num-reintegro');
      if(inputReintegro.value === '-' || contenedor){
        var botonesSeleccionadosReintegros = document.querySelectorAll('.reintegros .seleccionado');
        botonesSeleccionadosReintegros.forEach(function(boton) {
            if (boton.classList.contains('seleccionado')) {
                boton.classList.remove('seleccionado');
            }
        });
      }

      elemento.classList.toggle('seleccionado');
      if(elemento.classList.contains('seleccionado')){
        if (contenedor) {
            // El botón pertenece al contenedor "reintegros" y esta seleccionado
            var valor = elemento.value;
            reintegro.splice(0,1,valor);
            console.log(reintegro)
            var inputReintegro = document.querySelector('.item-num-reintegro');
            inputReintegro.value = reintegro[0];
        } else {
            // El botón no pertenece al contenedor "reintegros"
            var valor = elemento.value;
            var index = grupo.indexOf(valor);

            if(index === -1){
              var can = grupo.indexOf(99);
              if(index === -1){
                grupo.splice(can,1,valor);
              }else{
                grupo.splice(can,1,valor);
              }
            }else{
              grupo.splice(index,0,99);
            }

            var filas = document.querySelectorAll('.fila-combinacion.d-flex');
            var sel = filas[filasel-1];
            var inputsunos = sel.querySelectorAll('.list-combinacion input');
            for (var i = 0; i < grupo.length; i++) {
              if(grupo[i]!==99){
                inputsunos[i].value = grupo[i];
              }else{
                inputsunos[i].value = "-";
              }
            }
        }
      }else{
        if (!contenedor) {
            var valor = elemento.value;
            var index = grupo.indexOf(valor);
            var tamano = grupo.length;
            if(index !== -1){
              grupo.splice(index,1,99);
            }

            var filas = document.querySelectorAll('.fila-combinacion.d-flex');
            var sel = filas[filasel-1];
            var inputsunos = sel.querySelectorAll('.list-combinacion input');
            for (var i = 0; i < grupo.length; i++) {
              if(grupo[i]!==99){
                inputsunos[i].value = grupo[i];
              }else{
                inputsunos[i].value = "-";
              }
            }
        }
      }

      if(!grupo.includes(99) && !reintegro.includes(99)){
        filasel = filasel + 1;
        var buttons = document.querySelectorAll('.modulo-botonera .botonera button');
        buttons.forEach(function(buttons) {
          buttons.classList.remove('seleccionado');
        });
        numerosSeleccionados.push(grupo);
        grupo = [99,99,99,99,99,99];
        grupodos = [99,99,99,99,99,99,99,99,99,99,99];
      }
      total();
  }
    

  function botonDia(elemento) {
      document.getElementById("diario").value = elemento.textContent;
      var botones = document.querySelectorAll('.btn-d-seleccionado');
      botones.forEach(function (boton) {
        boton.classList.remove('btn-d-seleccionado');
        boton.classList.add('btn-d');
      });
      elemento.classList.add('btn-d-seleccionado');
      elemento.classList.remove('btn-d'); 

      var selectElement = document.getElementById('autouno');

      if(elemento.textContent == 'Lunes' || elemento.textContent == 'Jueves' || elemento.textContent == 'Sábado'){
        selectElement.options[1].textContent = "1 bloque (1€)";
        selectElement.options[2].textContent = "2 bloque (2€)";
        selectElement.options[3].textContent = "3 bloque (3€)";
        selectElement.options[4].textContent = "4 bloque (4€)";
        selectElement.options[5].textContent = "5 bloque (5€)";
        selectElement.options[6].textContent = "6 bloque (6€)";
        selectElement.options[7].textContent = "7 bloque (7€)";
        selectElement.options[8].textContent = "8 bloque (8€)";
      }else if(elemento.textContent == 'Semanal' && document.getElementById('dia').textContent == 'Lunes'){
        selectElement.options[1].textContent = "1 bloque (3€)";
        selectElement.options[2].textContent = "2 bloque (6€)";
        selectElement.options[3].textContent = "3 bloque (9€)";
        selectElement.options[4].textContent = "4 bloque (12€)";
        selectElement.options[5].textContent = "5 bloque (15€)";
        selectElement.options[6].textContent = "6 bloque (18€)";
        selectElement.options[7].textContent = "6 bloque (21€)";
        selectElement.options[8].textContent = "6 bloque (24€)";
      }else if(elemento.textContent == 'Semanal' && document.getElementById('dia').textContent == 'Jueves'){
        selectElement.options[1].textContent = "1 bloque (2€)";
        selectElement.options[2].textContent = "2 bloque (4€)";
        selectElement.options[3].textContent = "3 bloque (6€)";
        selectElement.options[4].textContent = "4 bloque (8€)";
        selectElement.options[5].textContent = "5 bloque (10€)";
        selectElement.options[6].textContent = "6 bloque (12€)";
        selectElement.options[7].textContent = "6 bloque (14€)";
        selectElement.options[8].textContent = "6 bloque (16€)";
      }else if(elemento.textContent == 'Semanal' && document.getElementById('dia').textContent == 'Sábado'){
        selectElement.options[1].textContent = "1 bloque (1€)";
        selectElement.options[2].textContent = "2 bloque (2€)";
        selectElement.options[3].textContent = "3 bloque (3€)";
        selectElement.options[4].textContent = "4 bloque (4€)";
        selectElement.options[5].textContent = "5 bloque (5€)";
        selectElement.options[6].textContent = "6 bloque (6€)";
        selectElement.options[7].textContent = "7 bloque (7€)";
        selectElement.options[8].textContent = "8 bloque (8€)";
      }

      selectElement = document.getElementById('autodos');

      if(elemento.textContent == 'Lunes' || elemento.textContent == 'Jueves' || elemento.textContent == 'Sábado'){
        selectElement.options[1].textContent = "Multiple 7 (7€)";
        selectElement.options[2].textContent = "Multiple 28 (28€)";
        selectElement.options[3].textContent = "Multiple 44 (44€)";
        selectElement.options[4].textContent = "Multiple 84 (84€)";
        selectElement.options[5].textContent = "Multiple 210 (210€)";
        selectElement.options[6].textContent = "Multiple 462 (462€)";
      }else if(elemento.textContent == 'Semanal' && document.getElementById('dia').textContent == 'Lunes'){
        selectElement.options[1].textContent = "Multiple 7 (21€)";
        selectElement.options[2].textContent = "Multiple 28 (84€)";
        selectElement.options[3].textContent = "Multiple 44 (132€)";
        selectElement.options[4].textContent = "Multiple 84 (252€)";
        selectElement.options[5].textContent = "Multiple 210 (630€)";
        selectElement.options[6].textContent = "Multiple 462 (1386€)";
      }else if(elemento.textContent == 'Semanal' && document.getElementById('dia').textContent == 'Jueves'){
        selectElement.options[1].textContent = "Multiple 7 (14€)";
        selectElement.options[2].textContent = "Multiple 28 (56€)";
        selectElement.options[3].textContent = "Multiple 44 (88€)";
        selectElement.options[4].textContent = "Multiple 84 (168€)";
        selectElement.options[5].textContent = "Multiple 210 (420€)";
        selectElement.options[6].textContent = "Multiple 462 (924€)";
      }else if(elemento.textContent == 'Semanal' && document.getElementById('dia').textContent == 'Sábado'){
        selectElement.options[1].textContent = "Multiple 7 (7€)";
        selectElement.options[2].textContent = "Multiple 28 (28€)";
        selectElement.options[3].textContent = "Multiple 44 (44€)";
        selectElement.options[4].textContent = "Multiple 84 (84€)";
        selectElement.options[5].textContent = "Multiple 210 (210€)";
        selectElement.options[6].textContent = "Multiple 462 (462€)";
      }

      total();
  }

  function botonModo(elemento) {
      document.getElementById("multi").value = elemento.textContent;
      if (elemento.classList.contains('btn-m')) {
        var filasSencillas = document.querySelectorAll('.fila-combinacion:not(.d-none)');
        var filasMultiples = document.querySelectorAll('.fila-combinacion.d-none');

        for (let index = 0; index < filasSencillas.length-1; index++) {
            filasSencillas[index].classList.add('d-none');
            filasSencillas[index].classList.remove('d-flex');
        }

        filasMultiples.forEach(function(fila) {
            fila.classList.remove('d-none');
            fila.classList.add('d-flex');
        });


      }

      var botones = document.querySelectorAll('.btn-m-seleccionado');
      botones.forEach(function (boton) {
        boton.classList.remove('btn-m-seleccionado');
        boton.classList.add('btn-m');
      });
      elemento.classList.add('btn-m-seleccionado');
      elemento.classList.remove('btn-m'); 

      var button = document.querySelectorAll('.modulo-botonera button.seleccionado');
      button.forEach(function(button) {
        button.classList.remove('seleccionado');
      });

      var inputs = document.querySelectorAll('.contenedor-combinaciones input');
      inputs.forEach(function(input) {
        input.value = '-';
      });

      var filas = document.querySelectorAll('.capa-opacidad:not(.activo)');
      filas.forEach(function(fila) {
        fila.classList.add('activo');
      });

      numerosSeleccionados = [];
      reintegrosSeleccionados = [];
      grupo = [99,99,99,99,99,99];
      grupodos = [99,99,99,99,99,99,99,99,99,99,99];
      reintegro = [99];
      filasel = 1;
      var total = document.querySelector('.total-compra');
      total.textContent = "0.00 €"
      if(total.textContent !== "0,00 €" && total.textContent !== "0.00 €"){
        var confirmar = document.querySelector('.boton-confirmar');
        confirmar.disabled = false;
      }else{
        var confirmar = document.querySelector('.boton-confirmar');
        confirmar.disabled = true;
      }
      
  }

  const filasCombinacion = document.querySelectorAll('.fila-combinacion');
  
  filasCombinacion.forEach((fila) => {
      const primerInput = fila.querySelector('.item-combinacion:first-child');
  
      primerInput.addEventListener('change', () => {
          const capaOpacidad = fila.querySelector('.capa-opacidad');
      
          if (primerInput.value !== '-') { 
              capaOpacidad.classList.remove('activo');
          } else {
              capaOpacidad.classList.add('activo');
          }
      });
  });
  function cambio() {
    var total = document.querySelector('.total-compra');
    var joker = document.querySelector('.item-combinacion-joker')

    const numerosJson = JSON.stringify({
      numerosSeleccionados: numerosSeleccionados,
      reintegro: document.querySelector('.item-combinacion.item-num-reintegro').value,
      grupoMultiple: grupodos,
      joker: joker.checked
    });
    const miArrayJsonInput = document.getElementById('variable');
    miArrayJsonInput.value = numerosJson;
    const prec = document.getElementById('precioinput')
    prec.value = total.textContent
    console.log("Contenido cambiado");
        
  }
  function observarCambios(targetElement, callback) {
        const observer = new MutationObserver(mutations => {
            mutations.forEach(mutation => {
                if (mutation.type === 'childList') {
                    callback();
                }
            });
        });

        observer.observe(targetElement, {
            childList: true
        });
    }

    window.addEventListener('DOMContentLoaded', () => {
        const span = document.querySelector('.total-compra');
        observarCambios(span, cambio);
    });
</script>
{% endblock %}
<
