{% extends 'Administracion/headers/headerHomeAdministracion.html' %}
{% load static %}
{% block title %}LotoFinder - Productos{% endblock %}

{% block styles %}
{% endblock %}
{% block extrascripts %}
{% endblock %}
    
{% block content %}
<style>
.form-search {
    display: flex !important;
  }
</style>
<div class="container-fluid pb-3">
    <div class="container ">
        <h1 class="text-start pt-5  text-uppercase m-0 text-wrap" >Lista Clientes</h1>
        <div class="border-1 border-bottom border-black mb-3 mt-2 "></div>
        <div class="bg-light pt-1 rounded shadow">
            <div class="py-2 mx-3">
                <form method="GET" class="form-search" action="{% url 'Administracion:admsClientesList' nombre_administracion=nombre_administracion %}">
                    <input type="text" class="form-control-i-pers" placeholder="Buscar cliente..." name="q" value="{{ request.GET.q }}">
                    <button type="submit" class="btn-form-search">
                      <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
            
            <table class="table table-striped">
                <tbody>
                    {% for objeto in object_list %}
                    <tr>
                        <th scope="row" ><button class="btn fw-bold">{{ objeto }}</button></th>
                        <th scope="row" class="d-flex justify-content-end "><a href="{% url 'Administracion:admsClientesInfo' nombre_administracion=nombre_administracion pk=objeto.user.id %}"><button class="btn btn-info mx-2"><i class="bi bi-info-circle"></i></button></a><a href="{% url 'Administracion:admsClientesPedidos' nombre_administracion=nombre_administracion pk=objeto.user.id %}"><button class="btn btn-warning mx-2"><i class="bi bi-list-ul"></i> Pedidos</button></a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="border: 1px;border-color:rgb(110, 110, 110);" class="border-bottom w-75 d-flex justify-content-center align-items-center m-auto my-2"></div>
            <div class="d-flex justify-content-center align-items-center pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; Primero</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span class="current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quasar@2.15.2/dist/quasar.umd.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quasar@2.15.2/dist/lang/es.umd.prod.js"></script>
{% endblock %}

