{% extends 'Cliente/headers/headerGlobal.html' %}
{% load static %}
{% block title %}LotoFinder - Recuperar Contraseña{% endblock %}
{% block styles %} 

<style>
  body,section{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  header,footer{
    background-color: rgb(7, 7, 7);
  }
  ::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
  }

  ::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* Color del fondo de la pista */
  }

  ::-webkit-scrollbar-thumb {
      background-color: #888; /* Color del indicador de desplazamiento */
      border-radius: 5px; /* Borde redondeado del indicador de desplazamiento */
  }

  /* Barra de desplazamiento horizontal */
  ::-webkit-scrollbar-horizontal {
      height: 10px; /* Altura de la barra de desplazamiento horizontal */
  }
</style>
{% endblock %}
{% block extrascripts %}
    
{% endblock %}

{% block content %}
<section class=" bac-opa-w" style="background-image: url('{% static 'imgs/login.jpg' %}');">
    <div class="py-15 py-xl-20 d-flex flex-column container level-3 min-vh-100">
      <div class="row align-items-center justify-content-center my-auto">
        <div class="col-md-10 col-lg-8 col-xl-5">
          <div class="card border-light border-0 rounded-0">
            <div class="card-header rounded-0 bg-white text-center p-4" style="border-bottom: 0; padding-bottom: 0!important;">
              <h5 class="fs-4 mb-1">Restablecimiento de contraseña enviado.</h5>
              <p class="small text-secondary">Le hemos enviado por correo electrónico instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. deberías recibirlos en breve.</p>
              <br>
              <p class="small text-secondary">Si no recibes un correo electrónico, asegúrate de haber ingresado la dirección con la que te registraste y revisa tu carpeta de spam.</p>
            </div>
            <div class="rounded-0 card-footer text-center p-4">
                <p class="text-secondary"><a href="{% url 'Global:loginAdministracion' %}" class="border-transition">Iniciar Sesión</a> o <a href="{% url 'Global:registerAdministracion' %}" class="border-transition">Registrarse</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
    
{% endblock %}
